.first{
    background-color: beige;
    font-size: 20px;
    color: brown  ;
    margin: 10px;
    font: bold;
    border: 10px solid beige;
    padding: 40px solid blue;
    padding-bottom: 0%;
    box-shadow: 40px solid brown;
}
.web{
    height: 500px;
    margin: 10px 20px 10px 20px;
    padding: 40px 60px 50px 50px;
    box-shadow: 50px solid black;
    font: 700;
    background-repeat:repeat-x;
    background-image:url('..//360.jpg');
    background-size: 1800px;

}